.login_form {
  display: block;
  float: right;
  width: 50%;
  top: 50%;
  text-align: center;
  margin-top: 15vw;
}

.login_title {
  float: left;
  width: 50%;
}

.login_form input {
  margin: 1vw;
  width: 20vw;
  height: 3vw;
  background: none;
  border-color: #fff;
  border-style: solid;
  border-radius: 5px;
  outline: none;
  color: #fff;
  font-size: 1.2vw;
}

::placeholder {
  color: #fff;
  font-size: 1.2vw;
}

.login_form button {
  height: 40px;
  width: 180px;
  border-radius: 25px;
  border-color: #fff;
  border-width: 2px;
  outline: none;
  background: none;
  color: #fff;
  font-size: 20px;
  transition: 0.3s;
  cursor: pointer;
}

.login_form button:hover {
  background: rgba(255, 255, 255, 0.3)
}