.nav_container {
  border-bottom: 2px solid #fff;
}

.nav_container ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav_container ul li {
  color: #fff;
  display: inline-flex;
}

.nav_logo {
  width: inherit;
  height: 55px;
}

.nav_container ul li button {
  background: none;
  color: #fff;
  display: inline-flex;
  min-width: 100px;
  width: auto;
  height: 45px;
  justify-content: center; 
  border-radius: 22.5px;
  border-width: 2px;
  border-color: #fff;
  font-size: 15px;
  transition: 0.3s;
  cursor: pointer;
  outline: none;
  padding: 0 20px;
}

.nav_container ul li button:hover {
  background: rgba(255, 255, 255, 0.3)
}