.results_container {
  /* margin: 20px; */
  /* padding: 0 50px 0 50px; */
  display: flex;
  justify-content: center;
  /* min-height: 60px; */
}

.odds_container, .submit_container {
  display: flex;
  border-style: solid;
  border-color: #fff;
  border-width: 3px;
  border-radius: 10px;
  margin: 0 20px;
  color: #fff;
  flex: 50%;
  justify-content: space-around;
}

.submit_container button {
  font-size: 15px;
  height: 35px;
  background: none;
  border-radius: 25px;
  border-color: #fff;
  border-width: 2px;
  outline: none;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
  margin-top: 19px;
  padding: 0 15px;
}

.submit_container button:hover {
  background: rgba(255, 255, 255, 0.3)
}

.submit_container select {
  font-size: 15px;
  height: 35px;
  width: 100px;
  background: none;
  border-radius: 25px;
  border-color: #fff;
  border-width: 2px;
  outline: none;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
  margin-top: 19px;
}

.odds_container h1, .odds_container h2 {
  margin-top: 19px;
}