.selection_container {
  position: relative;
  display: block;
  border-style: solid;
  border-color: #fff;
  border-width: 3px;
  border-radius: 10px;
  height: auto;
  margin: 20px;
  text-align: center;
  padding: 10px 5px 10px 5px;
  overflow: auto;
  white-space: nowrap;
  min-width: 900px;
  min-height: 100px;
}

.small_card {
  display: inline-block;
  width: 5vw;
  height: auto;
  margin: 0 5px 0 5px; 
  cursor: pointer;
  min-height: 100px;
  min-width: 66px;
}

.large_card {
  display: inline-block;
  width: 10vw;
  height: auto;
  margin: 10px 10px;
  cursor: pointer;
}

.cards_container {
  display: flex;
  margin: 20px;
  min-height: 16.6vw;
}

.communal_container {
  border-style: solid;
  border-color: #fff;
  border-width: 3px;
  border-radius: 10px;
  flex: 60%;
  text-align: center;
  min-width: 820px;
  min-height: 230px;
}

.hand_container {
  border-style: solid;
  border-color: #fff;
  border-width: 3px;
  border-radius: 10px;
  flex: 24%;
  text-align: center;
  min-width: 340px;
  min-height: 235px;
}

.button_container {
  flex: 10%;
  text-align: center;
}

.button_container button {
  width: 5vw;
  height: 4vh;
  font-size: 1vw;
  background: none;
  border-radius: 25px;
  border-color: #fff;
  border-width: 2px;
  outline: none;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

.button_container button:hover {
  background: rgba(255, 255, 255, 0.3)
}

.button_container p {
  color: #fff;
  font-size: 1vw;
}