@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  /* Background pattern from Toptal Subtle Patterns */
  background: url('/assets/background_tile.png') repeat;
  /* height: 100%; */
  /* min-width: 1000px; */
  margin: 0;
  color: #fff;
  font-family: 'Lato', sans-serif;
}